@import url('https://fonts.cdnfonts.com/css/ibm-plex-sans');

.input_form:focus{
    border: 3px solid rgba(0, 0, 0, 0.204)!important;
    box-shadow: 0 0 0 0;
    outline: 0;
}

.dd{
    display: flex;
    justify-content: center;
}

.inputs{
    width: 80vw;
}

.input_title{
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    font-size: 1.5rem;
}

.area-button{
    display: flex;
    justify-content: center;
}

.submit_button{
    color: white;
    background-color: rgb(0, 0, 0);
    width: 33%;
    border-radius: 40px;
    height: 2.3rem;
    padding: 3px;
    
    
}

.submit_button:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.678);
    transition: 0.3s;
}

.title_zone{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 3% 3% 3% 3%;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.user_title{
    margin: 10px 0 0 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
}

.balance_title{
    margin: 0px 0 10px 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 400;
}
/*  */

.transfer_zone{
    display: flex;
    flex-direction: column;
    margin: 0% 3% 3% 3%;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.transfer-title{
    font-size: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    display: flex;    
    justify-content: center;
}


/* ////////////////////////////////////////////// */

.my_transfers{
    display: flex;
    flex-direction: column;
    margin: 0% 3% 3% 3%;
    padding: 1.5%;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.mytransfers_title{
    font-size: 2rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-weight: 700;
    display: flex;    
    justify-content: center;
    padding: 1%;
}
